body {
  background-color: #262822;
}

.box-json {
  border: 1px solid white;
  padding: 1rem;
}

.custom-file-input {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-box > h3 {
  margin-top: 1rem;
}

.hide {
  display: none;
}